.matchCard{
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 4px;
    margin: 5px;
}

.matchCard .leagueName{
    font-weight: 700;
    margin: 0;
    font-size: 100%;
} 

.matchCard .matchName{
    font-size: 125%;
    margin: 0;
    font-weight: 300;
} 

.flexBetween{
    display: flex;
    align-items: center;
    justify-content: space-between;
}