.event-cell {
  border: 1px solid #ddd;
  padding: 4px; 
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
}

.secondRow {
  height: 60px; 
  padding-top: 5px; 
  padding-bottom: 5px; 
  line-height: normal;  
}

.mbsStyle {
  background: #008530;
  width: 15px;
  height: 18px;
  font-size: 11px;
  color: #fff;
  border-radius: 3px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.8em;
  display: block;
  margin: inherit;
  text-align: center;
}

.selected {
  background-color: #fc0;
  font-weight: bold;
}

.small-table-container {
  max-width: 450px;
  width: calc(100% - 80px);
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.small-table {
  width: 100%;
  border-collapse: collapse;
}

.small-table td {
  border: 1px solid #7D9FA4;
  padding: 8px;
  text-align: left;
}
