.container {
  display: block; /* Flexbox yerine block kullanıyoruz */
  width: 100%;
  border: 1px solid #ddd;
}

.table-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); /* Otomatik sütun genişliği */
  align-items: center;
  border: 1px solid #ddd;
  padding: 4px; /* Padding'i küçülttük */
  text-align: left;
}

.event-cell {
  border: 1px solid #ddd;
  padding: 4px; /* Padding'i küçülttük */
  text-align: center;
  white-space: nowrap;
  font-size: 12px; /* Yazı boyutunu küçülttük */
}

.event-detail {
  grid-column: span 7; /* İlk hücre 7 sütun genişliğinde */
  display: flex;
  align-items: center;
  font-size: 12px; /* Yazı boyutunu küçülttük */
}

.selected {
  background-color: #fffb00;
  font-weight: bold;
}

.small-table-container {
  width: 450px;
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.small-table {
  width: 100%;
  border-collapse: collapse;
}

.small-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.header-cell {
  border: 1px solid #ddd;
  padding: 4px;
  text-align: left;
  white-space: nowrap;
  background-color: #f4f4f4; 
  font-weight: bold;
}
